*{
    padding: 0;
    margin: 0;
}

#contMenu{
    width: 100%;
    height: 150px;
    background-color: 	rgb(101, 126, 93);

    align-self: center;
    justify-self: right;

    ul{
        list-style: none;
        font-size: 0; /*Truco para utilizar inline-block*/
    
    }
    
    li{
        display: inline-block;
        width: 25%;
        position: relative;
        font-size: 14px;
    }
    
    ul ul{
        position: absolute; /*Permite abrir el menu y que sus elementos superpongan cualquier otro elemento*/
        display: none;

    }
    
    ul ul li{
        display: block;
    }
    
    ul li:hover ul{
        display: block;
    }
    
    li a{
        color: white;
        text-decoration: none;
    }
    
    
    ul li :hover{
        background-color: aqua;
    }

}


#banner{
    background-image: url(../assets/imagenes/imgPrinc.png);
    width: 100%;
    height: 300px;
}

