*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: 	rgb(204, 224, 198);
}

#contMenu {
    width: 100%;
    height: 75px;
    background-color: rgb(101, 126, 93);
    display: flex;
    align-items: center;
    padding: 0; 
}


#contLogo {
    padding: 0px 0px 0px 10px;
    margin: 0; 
    width: 70px;
    height: 75px;
}

#logo{
    height: 100%;
    width: 100%;
}


#contMenu nav {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

#contMenu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#contMenu nav ul li {
    position: relative;
    font-size: 25px;
}

#contMenu nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;

}

#contMenu nav ul li:hover > a {
    text-decoration: underline;
}

#contMenu nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: rgb(101, 126, 93);
    padding: 0;
    list-style: none;
    width: 150px;
}

#contMenu nav ul ul li {
    display: block;
    font-size: 20px;
}

#contMenu nav ul ul li a {
    padding: 10px;
    white-space: nowrap;
}

#contMenu nav ul li:hover ul {
    display: block;
}






#contImgPrinc{
    padding-top: 10px;
    width: 100%;
    height: 500px;
}

#imgPrinc{
    width: 100%;
    height: 100%;
}

#contLogo2{
    width: 170px;
    height: 220px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

#logo2{
    width: 195px;
    height: auto;
    margin-bottom: 10px;
}

#contTitulo1{
    width: 500px;
    height: 220px;
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

#titulo1{
    font-size: 40px;
    margin: 5px;
    color:	rgb(255, 255, 255) ;
    text-shadow: 2px 2px 4px rgb(101, 126, 93)
}

#contTitulo2{
    width: 400px;
    height: 220px;
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#titulo2{
    font-size: 28px;
    margin: 5px;
    color: 	rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(101, 126, 93)
}

#gridCont{
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns:  1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
        'texto1'
        'img1'
        'img2'
        'titulo3'
        'texto2'
        'titulo4'
        'mapa'
        'texto3';
        
    
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#contTexto1{
    border: solid 16px;
    border-color: rgb(204, 224, 198);
    width: 100%;
    height: 190px;
    background-color: 	rgb(119, 164, 140);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: texto1;
}

#texto1{
    padding: 0px 15px 0px 15px;
    text-align: justify;
    font-size: 20px;
    line-height: 195%;
    color: 	rgb(245, 255, 242);
    grid-area: texto1;
    font-family: "SUSE", sans-serif;
}

#imagenes{
    background-image: url('../assets/imagenes/fondo.png'); 
    background-size: cover;
    background-attachment: fixed; 
    background-position: center center;

}


#contImg1 {
    position: relative; 
    padding: 130px 0px 40px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-area: img1;
}


#img1{
    border: solid 30px;
    border-color: rgb(204, 224, 198);
    width: 50%;
    height: 50%;
    display: block;
    grid-area: img1;
    transition: opacity 0.3s ease; 
}


#contTituloImg1 {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    opacity: 0; 
    transition: opacity 0.3s ease; 
    padding: 10px 20px;
}

/* Estilo del título (texto sobre la imagen) */
#tituloImg1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

/* Efecto hover para que la imagen se haga transparente */
#img1:hover {
    opacity: 0.8; /* Imagen se vuelve semi-transparente */
}

#img1:hover + #contTituloImg1{
    opacity: 1; 
}

#contImg2{
    position: relative; 
    padding: 130px 0px 40px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-area: img2;
}


#img2{
    border: solid 30px;
    border-color: rgb(204, 224, 198);
    width: 50%;
    height: 50%;
    display: block;
    grid-area: img1;
    transition: opacity 0.3s ease; 
}


#contTituloImg2{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto */
    opacity: 0; 
    transition: opacity 0.3s ease; 
    padding: 10px 20px;
}

/* Estilo del título (texto sobre la imagen) */
#tituloImg2{
    color: white;
    font-size: 40px;
    text-align: center;
}

/* Efecto hover para que la imagen se haga transparente */
#img2:hover{
    opacity: 0.8; /* Imagen se vuelve semi-transparente */
}

#img2:hover + #contTituloImg2{
    opacity: 1; 
}

#contUbi{
    width: 100%;
    height: 950px;
    background-color: rgb(119, 164, 140);
}

#contTitulo3{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    grid-area: titulo3;
}

#titulo3{
    font-size: 40px;
    padding: 25px 10px 10px 20px;
    width: 100%;
    height: 100%;
    color: rgb(245, 255, 242);
    grid-area: titulo3;
}


#contTexto2{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: texto2;
}

#texto2{
    font-size: 40px;
    padding: 20px 20px 10px 20px;
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 20px;
    color: 	rgb(245, 255, 242);
    line-height: 195%;
    grid-area: texto2;
    font-family: "SUSE", sans-serif;
}

#contMapa{
    width: 100%;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: mapa;
}

iframe{
    padding: 90px 70px 25px 70px;
    width: 100%;
    height: 100%;
    grid-area: mapa;
}

#contTitulo4{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    grid-area: titulo4;
}

#titulo4{
    font-size: 40px;
    padding: 10px 10px 10px 20px;
    width: 100%;
    height: 100%;
    color: rgb(245, 255, 242);
    grid-area: titulo4;
}


#contTexto3{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: texto3;
}

#texto3{
    font-size: 40px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: 100%;
    text-align: justify;
    line-height: 195%;
    font-size: 20px;
    color: 	rgb(245, 255, 242);
    grid-area: texto3;
    font-family: "SUSE", sans-serif;
}



footer {
    margin-top: 90px;
    background-color: rgb(101, 126, 93);
    color: white;
    padding: 20px;
}

.contFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

#contContactos{
    align-self: top;
    justify-self: right;
    text-align: right;
    display: flex;
    flex-direction: column;
}

#titContactos{

    margin-top: 10px;
    font-size: 18px;
}


#contContactos a {
    color: white;
    text-decoration: none;
}

#contContactos a:hover {
    text-decoration: underline;
}

#contRedes {
    width: 100%;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin: 20px 0;
}

.redes {
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.redes:hover {
    transform: scale(1.1);
}

#contText {
    margin-top: auto; 
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#text {
    font-size: 14px;
    padding: 10px;
    color: white;
}




@media screen and (min-width: 320px) and (max-width:767px ){
    
    body{
        background-color: 	rgb(204, 224, 198);
    }
    
    #contMenu {
        width: 100%;
        height: 20px;
        background-color: rgb(101, 126, 93);
        display: flex;
        align-items: center;
        padding: 0; 
    }
    
    
    #contLogo {
        padding: 0px 0px 0px 10px;
        margin: 0; 
        width: 20px;
        height: 15px;
    }
    
    #logo{
        height: 100%;
        width: 100%;
    }
    
    
    #contMenu nav {
        flex-grow: 1;
        display: flex;
        justify-content: center; 
    }
    
    #contMenu nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    
    #contMenu nav ul li {
        position: relative;
        font-size: 8px;
    }
    
    #contMenu nav ul li a {
        display: block;
        padding: 5px 15px;
        color: white;
        text-decoration: none;
    
    }
    
    #contMenu nav ul li:hover > a {
        text-decoration: underline;
    }
    
    #contMenu nav ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: rgb(101, 126, 93);
        padding: 0;
        list-style: none;
        width: 85px;
    }
    
    #contMenu nav ul ul li {
        display: block;
        font-size: 8px;
    }
    
    #contMenu nav ul ul li a {
        padding: 8px;
        white-space: nowrap;
    }
    
    #contMenu nav ul li:hover ul {
        display: block;
    }
    
    
    
    #contImgPrinc{
        padding-top: 8px;
        width: 100%;
        height: 110px;
    }
    
    #imgPrinc{
        width: 100%;
        height: 100%;
    }
    
    #contLogo2{
        width: 170px;
        height: 220px;
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
    }
    
    #logo2{
        width: 55px;
        height: auto;
        margin-bottom: 10px;
    }
    
    #contTitulo1{
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
    }
    
    #titulo1{
        font-size: 15px;
        margin: 5px;
        color:	rgb(255, 255, 255) ;
        text-shadow: 2px 2px 4px rgb(101, 126, 93)
    }
    
    #contTitulo2{
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    #titulo2{
        font-size: 10px;
        margin: 5px;
        color: 	rgb(255, 255, 255);
        text-shadow: 2px 2px 4px rgb(101, 126, 93)
    }
    
    #gridCont{
        display: grid;
        width: 100%;
        height: 200px;
        grid-template-columns:  1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas:
            'texto1'
            'img1'
            'img2'
            'titulo3'
            'texto2'
            'titulo4'
            'mapa'
            'texto3';
            
        
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    
    #contTexto1{
        border: solid 10px;
        border-color: rgb(204, 224, 198);
        width: 100%;
        height: 90px;
        background-color: 	rgb(119, 164, 140);
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: texto1;
    }
    
    #texto1{
        padding: 0px 15px 0px 15px;
        text-align: justify;
        font-size: 6px;
        line-height: 195%;
        color: 	rgb(245, 255, 242);
        grid-area: texto1;
        font-family: "SUSE", sans-serif;
    }
    
    #imagenes{
        background-image: url('../assets/imagenes/fondo.png'); 
        background-size: cover;
        background-attachment: fixed; 
        background-position: center center;
    
    }
    
    
    #contImg1 {
        position: relative; 
        padding: 30px 0px 15px 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        grid-area: img1;
    }
    
    
    #img1 {
        border: solid 8px;
        border-color: rgb(204, 224, 198);
        width: 50%;
        height: 55%;
        display: block;
        grid-area: img1;
        transition: opacity 0.3s ease; 
    }
    
    
    #contTituloImg1 {
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centra el texto */
        opacity: 0; 
        transition: opacity 0.3s ease; 
        padding: 10px 20px;
    }
    
    /* Estilo del título (texto sobre la imagen) */
    #tituloImg1 {
        color: white;
        font-size: 10px;
        text-align: center;
    }
    
    /* Efecto hover para que la imagen se haga transparente */
    #img1:hover {
        opacity: 0.8; /* Imagen se vuelve semi-transparente */
    }
    
    #img1:hover + #contTituloImg1{
        opacity: 1; 
    }
    
    #contImg2{
        position: relative; 
        padding: 30px 0px 40px 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        grid-area: img2;
    }
    
    
    #img2{
        border: solid 8px;
        border-color: rgb(204, 224, 198);
        width: 50%;
        height: 50%;
        display: block;
        grid-area: img1;
        transition: opacity 0.3s ease; 
    }
    
    
    #contTituloImg2{
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centra el texto */
        opacity: 0; 
        transition: opacity 0.3s ease; 
        padding: 10px 20px;
    }
    
    /* Estilo del título (texto sobre la imagen) */
    #tituloImg2{
        color: white;
        font-size: 40px;
        text-align: center;
    }
    
    /* Efecto hover para que la imagen se haga transparente */
    #img2:hover{
        opacity: 0.8; /* Imagen se vuelve semi-transparente */
    }
    
    #img2:hover + #contTituloImg2{
        opacity: 1; 
    }
    
    #contUbi{
        width: 100%;
        height: 400px;
        background-color: rgb(119, 164, 140);
    }
    
    #contTitulo3{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: left;
        grid-area: titulo3;
    }
    
    #titulo3{
        font-size: 15px;
        padding: 25px 10px 10px 20px;
        width: 100%;
        height: 100%;
        color: rgb(245, 255, 242);
        grid-area: titulo3;
    }
    
    
    #contTexto2{
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: texto2;
    }
    
    #texto2{
        padding: 0px 15px 0px 20px;
        text-align: justify;
        font-size: 6px;
        line-height: 195%;
        color: 	rgb(245, 255, 242);
        grid-area: texto2;
        font-family: "SUSE", sans-serif;
    }
    
    #contMapa{
        width: 100%;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: mapa;
    }
    
    iframe{
        padding: 40px 15px 20px 15px;
        width: 100%;
        height: 100%;
        grid-area: mapa;
    }
    
    #contTitulo4{
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: left;
        grid-area: titulo4;
    }
    
    #titulo4{
        font-size: 15px;
        padding: 0px 10px 10px 20px;
        width: 100%;
        height: 100%;
        color: rgb(245, 255, 242);
        grid-area: titulo4;
    }
    
    
    #contTexto3{
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: texto3;
    }
    
    #texto3{
        padding: 5px 15px 0px 20px;
        text-align: justify;
        font-size: 6px;
        line-height: 195%;
        color: 	rgb(245, 255, 242);
        grid-area: texto3;
        font-family: "SUSE", sans-serif;
    }
    
    
    
    footer {
        margin-top: 50px;
        background-color: rgb(101, 126, 93);
        color: white;
        padding: 20px;
    }
    
    .contFooter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    footer ul {
        font-size: 7px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    footer ul li {
        margin: 0 15px;
    }
    
    footer ul li a {
        color: white;
        text-decoration: none;
    }
    
    footer ul li a:hover {
        text-decoration: underline;
    }
    
    #contContactos{
        align-self: top;
        justify-self: right;
        text-align: right;
        display: flex;
        flex-direction: column;
        font-size: 9px;
    }
    
    #titContactos{
        margin-top: 10px;
        font-size: 13px;
    }
    
    
    #contContactos a {
        color: white;
        text-decoration: none;
    }
    
    #contContactos a:hover {
        text-decoration: underline;
    }
    
    #contRedes {
        width: 100%;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        margin: 20px 0;
    }
    
    .redes {
        padding: 10px;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    
    .redes:hover {
        transform: scale(1.1);
    }
    
    #contText {
        margin-top: auto; 
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
    
    #text {
        font-size: 8px;
        padding: 10px;
        color: white;
    }
    
}